{% extends "base.html" %} {% block title %}Find Medication{% endblock %} 

    {% block content %}
    <header>
    <style>
      table,th,td {
        border : 1px solid black;
        border-collapse: collapse;
      }
      th,td {
        padding: 5px;
      }
      h2{
        text-align: center;
      }
  </style>
  </header>
  
  <body>
    <br><br>
    <h2>Find Medication</h2>

    <br>   
    <form method="post"><input type="submit" value="Search substitute medicine"></form>
    <table>
      
    </table>
    <br><br>
   
  </body>
    
    {% endblock %}